[submodule "/home/napotsum/Documents/iotbzh/AGL_binder/work/low_collector/collectd/agl-service-low-collector/src/collectd/sources"]
	path = /home/napotsum/Documents/iotbzh/AGL_binder/work/low_collector/collectd/agl-service-low-collector/src/collectd/sources
	url = https://github.com/collectd/collectd.git
